<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961505671060-6en7cn4ro9djklsjo27f50gjubi61obf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961505671060-6en7cn4ro9djklsjo27f50gjubi61obf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>961505671060-rorqjv5ahhpofcsp0sq78s6elrk5mbdh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ0jTvdHCkZJ0h_cDsMnp4-pcU2WE3hGs</string>
	<key>GCM_SENDER_ID</key>
	<string>961505671060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.relevantsys.allthingscharmaine</string>
	<key>PROJECT_ID</key>
	<string>charmaine-defe5</string>
	<key>STORAGE_BUCKET</key>
	<string>charmaine-defe5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961505671060:ios:821f3250b6d7b0a096c181</string>
	<key>DATABASE_URL</key>
	<string>https://charmaine-defe5.firebaseio.com</string>
</dict>
</plist>